.container {
    width: 90%;
    align-items: center;
}

.img-container {
    background-color: #0f0f0f;
    width: 90%;
}

.card-title {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 3vw;
}

.card-text {
    color: #fff;
    font-size: 18px;
    line-height: 3vw;
}

.card-rowSubText {
    color: #fff;
    font-size: 14px;
}

.text-muted-transparent {
    color: transparent;
}

.card {
    background-color: #0f0f0f;
    padding-right: 1vw;
    padding-left: 1vw;
}

.card-group {
    background-color: #0f0f0f;
    width: 100%;
}