<center>
<div class="flex custom-page-header">
    <b><h1 class="page-title">ABOUT BERMANO</h1></b>
</div>
</center>
<br>

<center>
<div class="img-container">
    <img src="/assets/images/meta/bermano_1.jpg" style="width:350px;height:500px; margin: 1vw;">
    <img src="/assets/images/meta/bermano_2.jpg" style="width:350px;height:500px; margin: 1vw;">
    <img src="/assets/images/meta/bermano_3.jpg" style="width:350px;height:500px; margin: 1vw;">
</div>
</center>

<br>
    
<div class="container">
    <p class="long-text">Let's begin by discussing how I had first discovered the world of NFTs.</p>
    <p class="long-text">I was in New York City, New York when I heard my text chime ring. My phone's screen lit up, showing a text from a close friend's son, Jesse. They were asking if I knew about NFTs; and, at the time I had only heard of the name. Jesse proceeded to make contact with 0xChampi, marking the beginning of our NFT enterprise in which 0xChampi, Jesse and I have dedicated our love, effort and passion to.</p>
    <p class="long-text">Although being diagnosed with Bi-Polar and Depression, I have still managed to focus on creating a thriving art business, painting on canvas. In 2010, I had painted my first painting at the age of 40 and never looked back. I made it my mission through the success of my art works to help the less fortunate and regularly donate to many wonderful causes.</p>
    <p class="long-text">The highlights of my art career include being chosen to paint for Pope Francis, Nelson Mandela and the Royal Family of Monaco.</p>
    <p class="long-text">I am a true minimalist, I don't require much by way of material goods and rather choose to chase the holy grail of inner peace; to work out some of life's biggest questions.</p>
    <p class="long-text">I paint with incredible passion and express myself mainly through color. Each piece crates from my soul. My art represents the joy, love and color that I continuously strive for.</p>
    <p class="long-text">Humbly yours, <br> Joel Berman aka Bermano</p>
</div>

<br>

<center>
    <div class="img-container">
        <img src="/assets/images/meta/bermano_4.jpg" style="width:450px;height:400px; margin: 1vw;">
        <img src="/assets/images/meta/bermano_5.jpg" style="width:450px;height:400px; margin: 1vw;">
        <img src="/assets/images/meta/bermano_6.jpg" style="width:450px;height:400px; margin: 1vw;">
    </div>
    </center>