<!DOCTYPE html>
<html>
  <section>
    <mat-toolbar color="warn" class="border">
      <span class="example-spacer"></span>
     
        
     <div class="container" class="center" color="primary">
       <br>
       <button mat-button onclick="window.location.href='/'">Home</button>  
       <button mat-button onclick="window.location.href='/gallery'">GALLERY</button>
       <button mat-button onclick="window.location.href='/charity'">CHARITY</button>
       <button mat-button onclick="window.location.href='/faq'">FAQ</button>
       <button mat-button onclick="window.location.href='/about'">ABOUT</button>
        </div>
     
  
      <span class="example-spacer"></span>
    </mat-toolbar>
  <br><br>
  
  
<head>
  <title>Frequently Asked Questions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>

<body>
  <div class="w3-container" class="center">
    <h1 class="headertext">Frequently Asked Questions</h1>
  </div>

  <section>
    <div class="center">
      <div class="w3-row-padding">
        <div class="center">
          <dl>
            <dt>Who is Bermano/TheRealBermano?</dt>
            <dd>Bermano is a legendary artist born April 9th, 1971 in South Africa. He currently resides in New York
              City,
              New York, where he has designed countless beautiful projects.</dd>
            <dd>Throughout his life, Bermano has sold his extravagant artwork to many celebrities, artists, royalty and
              influential personalities. Some of which include: Pope Francis, Nelson Mandela, the Royal Family of
              Monaco,
              dozens of fortune 500 businesses and hundreds of others.</dd>
            <dd>For more information about Bermano and his life, visit our About page or the #about-bermano channel in
              our
              official Bermano Digital Gallery Discord server.</dd>
            <dt>What is TheRealBermano NFT collection?</dt>
            <dd>TheRealBermano NFT Collection is an exclusive curation of world-renowned artist Joel Bermano's art.</dd>
            <dt>When will TheRealBermano NFT collection be released?</dt>
            <dd>September 23rd, 2021</dd>
            <dt>How many pieces will be available in TheRealBermano NFT collection?</dt>
            <dd>50 NFTs</dd>
            <dt>What is the minting fee for the NFTs?</dt>
            <dd>There will be a 0.2 ETH minting fee.</dd>
            <dt>Will Bermano work on any other NFT collections now or in the future?</dt>
            <dd>This is the first collection of Bermano's NFT designated gallery, also known as "The King of the Jungle
              Collection", however, you can expect many more collections in the future, so stay tuned!</dd>
          </dl>
          </div>
      </div>
    </div>
  </section>
</body>
