<div class="flex custom-page-header">
  <center>
    <b>
      <h1 class="page-title">GIVE A HOOT COLLECTION</h1>
      <h2 class="page-subtitle">COLLABORATION WITH 0XCHAMPI | CURATED BY ATTN.MONEY</h2>
    </b>
  </center>
</div>

<br><br>

<h3 class="section-title">
  <center>Pre-Listing Teasers</center>
</h3>

<center>
  <div class="h-auto d-inline-block" style="width: 90%">
    <div class="card-group">
          <div class="card">
              <br>
              <h3 class="card-title">Give a Hoot Teaser #1</h3>
              <hr class="hr-light">
              <center>
                  <img src="assets/images/collections/gah/1.gif" class="card-img-top" alt="Give a Hoot Teaser #1"
                      style="height: 100%; width: 75%;" />
              </center>
              <div class="card-body">
                  <p class="card-text" style="width: 75%; text-align: left;">
              </div>
              <div class="card-footer">
              </div>
          </div>
          <br>
          <div class="card">
            <br>
            <h3 class="card-title">Give a Hoot Teaser #2</h3>
            <hr class="hr-light">
            <center>
                <img src="https://media.istockphoto.com/vectors/coming-soon-vector-template-design-vector-id984996502?k=20&m=984996502&s=612x612&w=0&h=3P8ABo5IorAKP5jNnou83ezl-26nMmebqU3ZENYNrfQ=" class="card-img-top" alt="Give a Hoot Teaser #2"
                    style="height: 100%; width: 75%;" />
            </center>
            <div class="card-body">
                <p class="card-text" style="width: 75%; text-align: left;">
            </div>
            <div class="card-footer">
            </div>
        </div>
        <br>
        <div class="card">
          <br>
          <h3 class="card-title">Give a Hoot Teaser #3</h3>
          <hr class="hr-light">
          <center>
              <img src="https://media.istockphoto.com/vectors/coming-soon-vector-template-design-vector-id984996502?k=20&m=984996502&s=612x612&w=0&h=3P8ABo5IorAKP5jNnou83ezl-26nMmebqU3ZENYNrfQ=" class="card-img-top" alt="Give a Hoot Teaser #3"
                  style="height: 100%; width: 75%;" />
          </center>
          <div class="card-body">
              <p class="card-text" style="width: 75%; text-align: left;">
          </div>
          <div class="card-footer">
          </div>
      </div>
      </div>
  </div>
</center>
