<!DOCTYPE html>
<html>
  <section>
    <mat-toolbar color="warn" class="border">
      <span class="example-spacer"></span>
     
        
     <div class="container" class="center" color="primary">
       <br>
       <button mat-button onclick="window.location.href='https://www.bermano.gallery/'">Home</button>  
       <button mat-button onclick="window.location.href='https://www.bermano.gallery/gallery'">GALLERY</button>
       <button mat-button onclick="window.location.href='https://www.bermano.gallery/charity'">CHARITY</button>
       <button mat-button onclick="window.location.href='https://www.bermano.gallery/social'">SOCIALS</button>
       <button mat-button onclick="window.location.href='https://www.bermano.gallery/faq'">FAQ</button>
       <button mat-button onclick="window.location.href='https://www.bermano.gallery/contact'">CONTACT</button>
       <button mat-button onclick="window.location.href='https://www.bermano.gallery/about'">ABOUT</button>
        </div>
     
  
      <span class="example-spacer"></span>
    </mat-toolbar>
  <br><br>
  
  
    <br>
    <h1 class="headertext"> B E R M A N O</h1> 
    <h1 class="headertext">N F T  G A L L E R Y 
  
    </h1>
    <br>
  
    <h3 class="headertext"> </h3>
  
    <section>
    <div class="center">
      <button mat-icon-button class="perm_identity">
        <mat-icon>perm_identity</mat-icon>
      </button>
      <button mat-icon-button aria-label="home" onclick=" window.location.href='https://www.bermano.gallery'">
        <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button class="discord" onclick="window.location.href='https://discord.gg/J3hy45bPfJ'">
          <mat-icon>discord</mat-icon>
      </button>
  
  
    </div>
    </section>

<head>
  <title>About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>

<body>
  <div class="w3-container" class="center">
    <h1>About</h1>
  </div>

  <section>
    <div class="center">
      <div class="w3-row-padding">
        <div class="w3-third">
          <p>
            How and where do I begin the story of how I became an artist? I
            suppose at the beginning... Starting at the age of 7. I had severe
            Obsessive Compulsive Disorder as a young child - OCD is a horrible
            mental and behavioral disorder where for me it manifested in having to
            keep on doing the same things over and over and over for reasons which
            I didn't quite understand. For example, switching a light on and off,
            or stepping back and forth over a line on the ground countless times.
            As I grew up, the OCD developed into OCD of thoughts - I began
            analyzing life at the age of 15. The analysis was kickstarted by the
            study of the brain in a biology class and it has consumed most of my
            life, literally spending 95 percent of my waking hours trying to
            figure out who I am and what I’m doing here. It’s a very tiresome
            process and I have developed a bad case of bipolar disorder due to
            these experiences. In a nutshell, I have had a pretty dark cloud
            hanging over me for a long time. In 2010 I found some spectacular
            light. It came in the form of answers to my never-ending analysis of
            what we are doing here. The light shone so brightly that I literally
            had the overwhelming urge to paint something, and at the time, I was
            39 years old and had never painted in my life up to that moment. I
            went to the art store and bought every color of paint, I went home and
            painted a Rooster. I became addicted, few months later I gave up my
            job, and became a full- time artist. It was a very powerful calling -
            one that I could not resist. It’s like I was sucked into a Canvas. The
            dark cloud lifted and what came out - should I say *exploded out* as a
            volcano of color that lay dormant deep inside my soul for so long.
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
