<div class="flex custom-page-header">
    <center>
        <b>
            <h1 class="page-title">BERMANO NFT COLLECTIONS</h1>
            <h2 class="page-subtitle">COLLABORATION WITH 0XCHAMPI | CURATED BY ATTN.MONEY</h2>
        </b>
    </center>
</div>
<br>
<center>
    <div class="h-auto d-inline-block" style="width: 90%">
        <div class="card-group">
            <div class="card">
                <br>
                <h3 class="card-title">The King of the Jungle</h3>
                <hr class="hr-light">
                <center>
                    <img src="assets/images/collections/kotj/nfts/1.jpg" class="card-img-top"
                        alt="The King of the Jungle #01" style="height: 100%; width: 75%;" />
                </center>
                <div class="card-body">
                    <p class="card-text" style="width: 75%; text-align: justify;">
                        <b>Collection Created:</b> Sep. 25th, 2021
                        <br>
                        <b>Most Recent Drop:</b> Sep. 29th, 2021
                        <br>
                        <b>Minting Fee:</b> 0.2 Ξ
                    </p>
                    <hr class="hr-light">
                    <a href="/collections/kotj">
                        <button mdbBtn type="button" gradient="blue" size="lg" mdbWavesEffect>View Gallery</button>
                    </a>
                </div>
                <div class="card-footer">
                    <small class="text-muted-transparent">.</small>
                </div>
            </div>

            <br>

            <div class="card">
                <br>
                <h3 class="card-title">Give a Hoot Collection</h3>
                <hr class="hr-light">
                <center>
                    <img src="assets/images/collections/gah/1.gif" class="card-img-top" alt="Give a Hoot Collection"
                        style="height: 100%; width: 61.05%;" />
                </center>
                <div class="card-body">
                    <p class="card-text" style="width: 75%; text-align: justify;">
                        <b>Collection Created:</b> TBA
                        <br>
                        <b>Most Recent Drop:</b> N/A
                        <br>
                        <b>Minting Fee:</b> N/A
                    </p>
                    <hr class="hr-light">
                    <a href="/collections/gah">
                        <button mdbBtn type="button" gradient="peach" size="lg" mdbWavesEffect>Coming Soon</button>
                    </a>
                </div>
                <div class="card-footer">
                    <small class="card-rowSubText">Updated: October 1st, 2021 at 1:00PM CT</small>
                </div>
            </div>

            <br>

            <div class="card">
                <br>
                <h3 class="card-title">Upcoming Diamond Collection</h3>
                <hr class="hr-light">
                <center>
                    <img src="assets/images/collections/soon_diamond.png" class="card-img-top" alt="Upcoming Diamond Collection"
                        style="height: 100%; width: 75%;" />
                </center>
                <div class="card-body">
                    <p class="card-text" style="width: 75%; text-align: justify;">
                        <b>Collection Created:</b> TBA
                        <br>
                        <b>Most Recent Drop:</b> N/A
                        <br>
                        <b>Minting Fee:</b> N/A
                    </p>
                    <hr class="hr-light">
                    <a href="#">
                        <button mdbBtn type="button" gradient="heavy-rain" size="lg" mdbWavesEffect>Unavailable</button>
                    </a>
                </div>
                <div class="card-footer">
                    <small class="text-muted-transparent">.</small>
                </div>
            </div>

            <br>

        </div>
    </div>
</center>

<br>
<center>
