<div class="flex custom-page-header">
    <hr class="hr-dark">
    <center>
        <b>
            <h2 class="h1-responsive">BERMANO NFT COLLECTIONS</h2>
            <h3 class="h2-responsive">COLLABORATION WITH 0XCHAMPI | CURATED BY ATTN.MONEY</h3>
        </b>
    </center>
    <hr class="hr-dark">
</div>
<br><br>
<center>
    <div class="h-auto d-inline-block" style="width: 90%; height: 100%">
      <div class="card-group">
        <div class="card">
          <h3 class="card-title">The King of the Jungle</h3>
          <hr class="hr-dark" />
          <center>
            <img src="assets/images/collections/kotj/nfts/1.jpg" class="card-img-top" alt="The King of the Jungle #01"
              style="height: 100%; width: 75%" />
          </center>
          <div class="card-body">
            <p class="card-text" style="width: 75%; text-align: left">
              <b>Created:</b> Sep. 25th, 2021
              <br />
              <b>Minting Fee:</b> 0.2 Ξ
            </p>
            <hr class="hr-dark" />
            <a href="/collections/kotj">
              <button mdbBtn type="button" gradient="blue" size="lg" mdbWavesEffect>
                View Gallery
              </button>
            </a>
          </div>
          <div class="card-footer">
            <small class="text-muted-transparent">.</small>
          </div>
        </div>
  
        <br />
  
        <div class="card">
          <h3 class="card-title">Give a Hoot Collection</h3>
          <hr class="hr-dark" />
          <center>
            <img src="assets/images/collections/gah/1.gif" class="card-img-top" alt="Give a Hoot Collection"
              style="height: 100%; width: 75%" />
          </center>
          <div class="card-body">
            <p class="card-text" style="width: 75%; text-align: left">
              <b>Created:</b> TBA
              <br />
              <b>Minting Fee:</b> - Ξ
            </p>
            <hr class="hr-dark" />
            <a href="/collections/gah">
              <button mdbBtn type="button" gradient="peach" size="lg" mdbWavesEffect>
                Coming Soon
              </button>
            </a>
          </div>
          <div class="card-footer">
            <small class="card-rowSubText">Updated: October 1st, 2021 at 1:00PM CT</small>
          </div>
        </div>
  
        <br />
  
        <div class="card">
          <h3 class="card-title">Upcoming Diamond Collection</h3>
          <hr class="hr-dark" />
          <center>
            <img src="assets/images/collections/soon_diamond.png" class="card-img-top" alt="Upcoming Diamond Collection"
              style="height: 100%; width: 75%" />
          </center>
          <div class="card-body">
            <p class="card-text" style="width: 75%; text-align: left">
              <b>Created:</b> TBA
              <br />
              <b>Minting Fee:</b> - Ξ
            </p>
            <hr class="hr-dark" />
            <a href="#">
              <button mdbBtn type="button" gradient="heavy-rain" size="lg" mdbWavesEffect>
                Unavailable
              </button>
            </a>
          </div>
          <div class="card-footer">
            <small class="text-muted-transparent">.</small>
          </div>
        </div>
        <br />
      </div>
    </div>
  </center>