:root {
    width: device-width;
}

.os-button {
    color: #2081E2
}

.card-title {
    color: #fff;
    font-weight: bold;
  
  }
  
  .card-text {
    color: #fff;
  
  }
  
  .card-rowSubText {
    color: #fff;
  }
  
  .text-muted-transparent {
    color: transparent;
  }
  
  .card {
    background-color: #0f0f0f;
    padding: 5%;
  }