<!DOCTYPE html>
<html>

<head>
  <title>Contact</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>

<body>
  <div class="w3-container">
    <h1>Contact</h1>
  </div>

  <section>
    <div class="center">
      <div class="w3-row-padding">
        <div class="w3-third">
          <p>
            Contact us on the official <a href="https://discord.gg/J3hy45bPfJ" title="Join Discord">Bermano Digital Gallery Discord server!</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>