<div class="flex custom-page-header">
    <center>
        <b>
            <h1 class="page-title">BERMANO DIGITAL NFT GALLERY</h1>
            <center>
                <img src="/assets/images/meta/logo.svg" style="width:400px;height:400px;">
            </center>
            <h2 class="page-subtitle">COLLABORATION WITH 0XCHAMPI | CURATED BY ATTN.MONEY</h2>
        </b>
    </center>
</div>

<br>

<center>
    <iframe src="https://player.vimeo.com/video/614733858?h=29b0320c91" width="640" height="360" frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
</center>

<br>

<h3 class="section-title">
    <center>Bermano NFT Collections</center>
  </h3>
  <center>

<center>
    <div class="h-auto d-inline-block" style="width: 90%">
        <div class="card-group">
            <div class="card">
                <br>
                <h3 class="card-title">The King of the Jungle</h3>
                <hr class="hr-light">
                <center>
                    <img src="assets/images/collections/kotj/nfts/1.jpg" class="card-img-top"
                        alt="The King of the Jungle #01" style="height: 100%; width: 75%;" />
                </center>
                <div class="card-body">
                    <p class="card-text" style="width: 75%; text-align: justify;">
                        <b>Collection Created:</b> September 25th, 2021
                        <br>
                        <b>Most Recent Drop:</b> September 29th, 2021
                        <br>
                        <b>Minting Fee:</b> 0.2 Ξ
                    </p>
                    <hr class="hr-light">
                    <a href="/collections/kotj">
                        <button mdbBtn type="button" gradient="blue" size="lg" mdbWavesEffect>View Gallery</button>
                    </a>
                </div>
                <div class="card-footer">
                    <small class="text-muted-transparent">.</small>
                </div>
            </div>

            <br>

            <div class="card">
                <br>
                <h3 class="card-title">Upcoming Owl Collection</h3>
                <hr class="hr-light">
                <center>
                    <img src="assets/images/collections/soon_owl.svg" class="card-img-top" alt="The King of the Jungle #02"
                        style="height: 100%; width: 75%;" />
                </center>
                <div class="card-body">
                    <p class="card-text" style="width: 75%; text-align: justify;">
                        <b>Collection Created:</b> TBA
                        <br>
                        <b>Most Recent Drop:</b> N/A
                        <br>
                        <b>Mint Price:</b> N/A
                    </p>
                    <hr class="hr-light">
                    <a href="#">
                        <button mdbBtn type="button" gradient="heavy-rain" size="lg" mdbWavesEffect>Unavailable</button>
                    </a>
                </div>
                <div class="card-footer">
                    <small class="card-rowSubText">Updated: October 1st, 2021 at 10:00AM CT</small>
                </div>
            </div>

            <br>

            <div class="card">
                <br>
                <h3 class="card-title">Upcoming Diamond Collection</h3>
                <hr class="hr-light">
                <center>
                    <img src="assets/images/collections/soon_diamond.svg" class="card-img-top" alt="The King of the Jungle #02"
                        style="height: 100%; width: 75%;" />
                </center>
                <div class="card-body">
                    <p class="card-text" style="width: 75%; text-align: justify;">
                        <b>Collection Created:</b> TBA
                        <br>
                        <b>Most Recent Drop:</b> N/A
                        <br>
                        <b>Mint Price:</b> N/A
                    </p>
                    <hr class="hr-light">
                    <a href="#">
                        <button mdbBtn type="button" gradient="heavy-rain" size="lg" mdbWavesEffect>Unavailable</button>
                    </a>
                </div>
                <div class="card-footer">
                    <small class="text-muted-transparent">.</small>
                </div>
            </div>

            <br>

        </div>
    </div>
</center>

<br>
<center>

<!-- Footer -->
<footer></footer>