<h1>  GALLERY </h1>
    <button mat-flat-button color="accent" routerLink="/">Home</button>
    <button mat-flat-button color="accent" routerLink="/gallery">Gallery</button>
    <button mat-flat-button color="accent" routerLink="/charity">Charity</button>
    <button mat-flat-button color="accent" routerLink="/social">Social</button>
    
  
    
    <br>
    You have discovered Peaceful bermano NFT!


  
    <div id="x"></div> 
    <br>
      Mint a penguin, help a penguin.
    <br>
    
    <p style="color:white;">20% of the proceeds go to helping bermano, 50% goes to developers, and 30% goes towards future NFT releases.</p>
    
  
  