<!DOCTYPE html>
<html>
  <section>
    <mat-toolbar color="warn" class="border">
      <span class="example-spacer"></span>
     
        
     <div class="container" class="center" color="primary">
       <br>
       <button mat-button onclick="window.location.href='/'">Home</button>  
       <button mat-button onclick="window.location.href='/gallery'">GALLERY</button>
       <button mat-button onclick="window.location.href='/charity'">CHARITY</button>
       <button mat-button onclick="window.location.href='/faq'">FAQ</button>
       <button mat-button onclick="window.location.href='/about'">ABOUT</button>
        </div>
     
  
        <span class="example-spacer"></span>
      </mat-toolbar>
      <br><br>
    
    
<head>
  <title>Gallery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>

<body>
  <div class="w3-container">
    <h1 class="headertext">Gallery</h1>
  </div>

  <section>
    <br>  <br>
    <br>
    <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
      <h1 class="headertext">THE KING OF THE JUNGLE COLLECTION - BERMANO x 0xCHAMPI </h1>
      <br>  <br>  <br>
    </div>

    <div class="center">
      <iframe src="https://player.vimeo.com/video/615354217" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      </div>
      <br>
      <br>
    
    <div class="center" class="container" fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutAlign="center">
        <img mat-card-image class="img" src="/assets/kotj0.jpg" style="height:500px ; width:350px">
        <img mat-card-image class="img" src="/assets/kotj1.jpg" style="height:500px ; width:350px">
        <img mat-card-image class="img" src="/assets/kotj2.jpg" style="height:500px ; width:350px">
    </div>
  <br>
  <br>
    <div class="center" class="container" fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutAlign="center">
      <img mat-card-image class="img" src="/assets/kotj3.jpg" style="height:500px ; width:350px">
      <img mat-card-image class="img" src="/assets/kotj4.jpg" style="height:500px ; width:350px">
  </div>
    
    <br>
    <br>
  </section>

  <br>  <br>
  <br>
  <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
    <h1 class="headertext">MORE COMING SOON! </h1>
    <br>  <br>  <br>
  </div>
</body>
