<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-dark bg-primary navbar-expand-lg " [containerInside]="false">
    <!-- Navbar brand -->
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="/"><b>BERMANO DIGITAL NFT GALLERY</b></a>  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-dark" mdbWavesEffect href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Collections<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-dark" mdbWavesEffect href="/collections/kotj">King of the Jungle Collection</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-dark" mdbWavesEffect href="/collections">View All</a>
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link waves-dark" mdbWavesEffect href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-dark" mdbWavesEffect href="/charity">Charity</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-dark" mdbWavesEffect href="/faq">FAQ</a>
          </li>
    
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="discord"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <img src="../assets/icons/OpenSea_TW.svg" id="OpenSea" width="32" height="16" />
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->