<!-- Navbar-->
<app-navigation></app-navigation>
<section>

    <router-outlet></router-outlet>
    <br />
    <br />

    <br />
    <h1 class="headertext">B E R M A N O</h1>
    <h1 class="headertext">N F T G A L L E R Y</h1>
    <br />

    <h3 class="headertext">CONNECT YOUR WALLET TO MINT</h3>
</section>
<section>
    <div class="center">
        <button mat-icon-button class="perm_identity">
            <mat-icon>perm_identity</mat-icon>
        </button>
        <button mat-icon-button aria-label="home">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button class="discord">
            <mat-icon>discord</mat-icon>
        </button>
        <button mat-icon-button class="mail">
            <mat-icon>mail</mat-icon>
        </button>
        <button mat-icon-button class="wallet">
            <mat-icon>account_balance_wallet</mat-icon>
        </button>
    </div>
</section>

<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
