<div class="flex custom-page-header">
  <hr class="hr-dark">
  <center>
    <b>
      <h2 class="h1-responsive">THE KING OF THE JUNGLE COLLECTION</h2>
      <h3 class="h2-responsive">COLLABORATION WITH 0XCHAMPI | CURATED BY ATTN.MONEY</h3>
    </b>
  </center>
  <hr class="hr-dark">
</div>

<br><br>

<h3 class="section-title">
  <center>Shots from the Live NFT Auction</center>
</h3>
<center>

  <div class="h-auto d-inline-block" style="width: 90%">
    <div class="card-group">
      <div class="card">
        <br>
        <center>
          <div class="view overlay">
            <img src="assets/images/collections/kotj/irl/1.jpg" class="card-img-top img-fluid"
              alt="The King of the Jungle Real Life Auction 1" style="height: 100%; width: 90%;" />
          </div>
        </center>
        <br>
      </div>
      <br>

      <div class="card">
        <br>
        <center>
          <div class="view overlay">
            <img src="assets/images/collections/kotj/irl/2.jpg" class="card-img-top img-fluid"
              alt="The King of the Jungle Real Life Auction 1" style="height: 100%; width: 90%;" />
          </div>
        </center>
        <br>
      </div>

      <br>

      <br>
      <div class="content">
        <iframe src="https://player.vimeo.com/video/615354217?h=a9b6abbdc1"
          allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      </div>
      <br>

      <div class="card">
        <br>
        <center>
          <div class="view overlay">
            <img src="assets/images/collections/kotj/irl/3.jpg" class="card-img-top img-fluid"
              alt="The King of the Jungle Real Life Auction 1" style="height: 100%; width: 90%;" />
          </div>
        </center>
        <br>
      </div>

      <br>

      <div class="card">
        <br>
        <center>
          <div class="view overlay">
            <img src="assets/images/collections/kotj/irl/4.jpg" class="card-img-top img-fluid"
              alt="The King of the Jungle Real Life Auction 1" style="height: 100%; width: 90%;" />
          </div>
        </center>
        <br>
      </div>

      <br>
    </div>
  </div>
</center>

<br><br>

<div class="embed-responsive embed-responsive-16by9" style="min-height: 600px;">
  <iframe class="embed-responsive-item" src="https://opensea.io/collection/the-king-of-the-jungle?embed=true" allowfullscreen></iframe>
</div>