<footer id="footer" class="gray-dark text-center text-lg-start" style="background-color: #0a0a0a">
  <div class="container p-4 text-center">
    <h3 class="font-weight-bold text-light">Never miss another drop. </h3>
    <p class="font-weight-semibold text-light">Follow our social media accounts to stay up to date with news and
      announcements regarding the Bermano Digital Gallery!</p>
    <!-- Twitter -->
      <a href="https://twitter.com/TheRealBermano">
        <button type="button" mdbBtn color="blue" class="waves-light" mdbWavesEffect><mdb-icon fab icon="twitter"></mdb-icon></button>
    </a>
    <!-- Instagram -->
    <a href="https://instagram.com/therealbermano/">
      <button type="button" mdbBtn color="pink" class="waves-light" mdbWavesEffect><mdb-icon fab icon="instagram"></mdb-icon></button>
  </a>
    <!-- Discord -->
    <a href="https://discord.com/invite/J3hy45bPfJ">
      <button type="button" mdbBtn color="purple" class="waves-light" mdbWavesEffect><mdb-icon fab icon="discord"></mdb-icon></button>
  </a>


  </div>
  <div class="footer-copyright text-center p-3 black lighten-1 text-muted" style="background-color: #050505">
    Copyright &copy; 2021 <a href="/">Bermano Digital Gallery & 0xChampi</a> | All Rights Reserved
  </div>

</footer>