/* You can add global styles to this file, and also import other style files */

@use 'sass:map';
@use '~@angular/material' as mat;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

$custom-typography: mat-typography-config(
  $font-family: 'Unica One',


);

@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

$primary: mat.define-palette(mat.$indigo-palette, 500);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$warn: mat.define-palette(mat.$grey-palette, 100);

$theme: mat.define-light-theme((
 color: (
   primary: $primary,
   accent: $accent,
   warn: $warn,
 )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($theme);

html, body { height: 100%; color: black; }
// body { background-color: rgb(211,129,252); background: radial-gradient(circle, rgba(211,129,252,1) 4%, rgba(63,94,251,1) 25%, rgba(203,63,251,1) 52%, rgba(173,108,221,1) 70%, rgba(4,0,3,1) 94%);  margin: 1; font-family: Roboto, "Nunito", sans-serif; }
 body { color:rgb(255, 255, 255); background-color: rgb(0, 0, 0);   margin: 1; font-size: 20px; font-family: 'Cinzel', serif; }
body {
  margin:0;
}

.wrapper {
    width: 100%;
    height: 3%;
    border: 1px rgb(0, 0, 0);
    position: absolute;
   // background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1);
   background: linear-gradient(45deg,rgb(0, 0, 0), rgb(255, 255, 255));
    background-size: 300% 100%;
    animation: gradient 32s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

/* section {
    display: flex;
    justify-content: center;
  }

  .example-button-row .mat-button-base {
    margin: 25px 15px 5px 0;
  }
*/
  .example-spacer {
    flex: 1 1 auto;
  }
  img {
    border: 5px solid rgb(255, 255, 255);
  }

h1.headertext {
    text-align: center;
    font-size: 65px;
    color: rgb(251, 251, 251);
}
h2.headertext {
    text-align: center;
    font-size: 15px;
    color:rgb(147, 80, 255)
}
h3.headertext {
    text-align: center;
    font-size: 13px;
}
h4.headertext {
    text-align: center;
    font-size: 8px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Nunito, "Helvetica Neue", sans-serif;  }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px rgb(255, 255, 255);
}

.right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.example-card {
  max-width: 200px;
  background: rgba(0, 0, 0, 0.5);
  border: 9px solid rgb(247, 247, 247) !important;
  border-radius: 25px !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 300px;
  color: rgb(255, 255, 255);
}
.example-card1 {
  max-width: 1200px;
  background: rgb(2, 2, 2);
  border-radius: 25px !important;
  box-shadow: 0 14px 28px rgb(255, 255, 255), 0 10px 10px rgba(0,0,0,0.22);
  color: rgb(255, 255, 255);

}

.example-header-image {
  background-image: url('/assets/lion1.gif');
  background-size: cover;
}
.example-header-image2 {
  background-image: url('/assets/pfp.png');
  background-size: cover;
}
.example-header-image3 {
  background-image: url('/assets/os.png');
  background-size: cover;
}
.border{
  border: 0px solid #555;
}

