<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>

<body>
  <div class="w3-container">
    <div class="center">
      <img src="/assets/bermano.png">
    </div>

    <mat-divider></mat-divider>
    <br><br><br>
    <br>
    <h1 class="headertext">TRACKABLE OWNERSHIP ON THE BLOCKCHAIN
    </h1>
    <br>
    <br>
    <h1 class="headertext">GLOBAL PHILANTHROPY</h1>
    <br>
    <br>
    <h1 class="headertext">INNOVATION
    </h1>
    <br><br><br>

    <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">


      <div class="card card-4">

        <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%"
          fxLayoutAlign="center">

          <mat-card class="example-card1">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image2"></div>
              <mat-card-title>
                <h1>BERMANO</h1>
              </mat-card-title>
              <!--      <mat-card-subtitle class="center">why bermano</mat-card-subtitle> -->
            </mat-card-header>
            <br>
            <p class="center"> “My paintings are pure and are painted from my soul. My body is merely the vehicle that
              gets them on the canvas.
              <br> <br>After suffering from torment for nearly thirty of my forty years, I am now free and my incredible
              freedom is expressed through my art.
              <br> <br>The joy I feel when I paint is nothing short of pure exhilaration and I can’t stop painting
              because
              I simply can’t wait to see what the painting ill look like when it's done."
            </p>

          </mat-card>
          <br> <br>


        </div>
        <br> <br>
        <br>
        <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">

          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image3"></div>
              <mat-card-title class="center">
                <h1> MINT YOUR NFT </h1>
              </mat-card-title>
            </mat-card-header>


            <br>
            <p class="center"> To mint your NFT simply click the OpenSea Icon next to the Letter Icon - Once you are on
              OpenSea, Connect your Metamask or other ERC-20 wallet to Bid or Mint! If you do not have a wallet and
              would
              like to buy a copy please s</p>

          </mat-card>
          <div fxFlex="15%"></div>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image3"></div>
              <mat-card-title class="center">
                <h1> VIEW YOUR NFT </h1>
              </mat-card-title>
            </mat-card-header>
            <p class="center"> To mint your NFT simply click the OpenSea Icon next to the Letter Icon - Once you are on
              OpenSea, Connect your Metamask or other ERC-20 wallet to Bid or Mint! If you do not have a wallet and
              would
              like to buy a copy please s</p>

          </mat-card>
          <div fxFlex="15%"></div>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image3"></div>
              <mat-card-title class="center">
                <h1> SELL & TRADE YOUR NFT </h1>
              </mat-card-title>
            </mat-card-header>

            <br>
            <p class="center"> To mint your NFT simply click the OpenSea Icon next to the Letter Icon - Once you are on
              OpenSea, Connect your Metamask or other ERC-20 wallet to Bid or Mint! If you do not have a wallet and
              would
              like to buy a copy please s</p>

          </mat-card>

        </div>

        <br> <br>
        <br>
        <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">

          <h1>LION COLLECTION #1 - BERMANO x 0xCHAMPI </h1>
          <br> <br> <br>
          <br>
          <br>
        </div>
        <br>
        <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
          <div fxFlex="45%">
            <img mat-card-image class="img" src="/assets/lion1.gif" style="height:250x ; width:150px">
          </div>
          <div fxFlex="35%">
            <img mat-card-image class="img" src="/assets/lion2.gif" style="height:250x ; width:150px">
          </div>
          <div fxFlex="35%">
            <img mat-card-image class="img" src="/assets/lion3.gif" style="height:250x ; width:150px">
          </div>
          <div fxFlex="20%">
            <img mat-card-image class="img" src="/assets/lion4.gif" style="height:250x ; width:150px">
          </div>

        </div>

        <br>
        <br>

        <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
          <div fxFlex="35%">
            <img mat-card-image class="img" src="/assets/lion5.gif" style="height:250x ; width:150px">
          </div>
          <div fxFlex="35%">
            <img mat-card-image class="img" src="/assets/lion6.gif" style="height:250x ; width:150px">
          </div>
          <div fxFlex="35%">
            <img mat-card-image class="img" src="/assets/lion7.gif" style="height:250x ; width:150px">
          </div>
          <div fxFlex="20%">
            <img mat-card-image class="img" src="/assets/lion8.gif" style="height:250x ; width:150px">
          </div>


          <br>
        </div>


        <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
        </div>

        <h3 class="center">+ C O L L A B O R A T I O N + W I T H + 0 x C H A M P I - C U R A T E D + B Y + A T T N . M O
          N
          E Y +</h3>
        <br>

        <br><br>
        <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
          <h1>ALL RIGHTS RESERVED - BERMANO NFT DIGITAL GALLERY & ATTN.MONEY 2021</h1>
          <br>
          <br>
        </div>



        <br>
      </div>