<section>
  <mat-toolbar color="warn" class="border">
    <span class="example-spacer"></span>


    <div class="container" class="center" color="primary">
      <br>
      <button mat-button onclick="window.location.href='https://www.bermano.gallery/'">Home</button>  
      <button mat-button onclick="window.location.href='https://www.bermano.gallery/gallery'">GALLERY</button>
      <button mat-button onclick="window.location.href='https://www.bermano.gallery/charity'">CHARITY</button>
      <button mat-button onclick="window.location.href='https://www.bermano.gallery/social'">SOCIALS</button>
      <button mat-button onclick="window.location.href='https://www.bermano.gallery/faq'">FAQ</button>
      <button mat-button onclick="window.location.href='https://www.bermano.gallery/contact'">CONTACT</button>
      <button mat-button onclick="window.location.href='https://www.bermano.gallery/about'">ABOUT</button>
       </div>


    <span class="example-spacer"></span>
  </mat-toolbar>
  <br><br>


  <br>
  <h1 class="headertext"> B E R M A N O</h1>
  <h1 class="headertext">N F T G A L L E R Y

  </h1>
  <br>

  <h3 class="headertext"> </h3>

  <section>
    <div class="center">
      <button mat-icon-button class="perm_identity">
        <mat-icon>perm_identity</mat-icon>
      </button>
      <button mat-icon-button aria-label="home" onclick=" window.location.href='https://www.bermano.gallery'">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button class="discord" onclick="window.location.href='https://discord.gg/J3hy45bPfJ'">
        <mat-icon>discord</mat-icon>
      </button>


    </div>
  </section>
  <div class="center">
    <img src="/assets/bermano.svg" style="width:400px;height:400px;">
  </div>
  <br>
  <br>
  <div class="center">
    <iframe src="https://player.vimeo.com/video/614733858?h=29b0320c91" width="640" height="360" frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <mat-divider></mat-divider>
  <br><br><br>
  <br>
  <h1 class="headertext">VIEW THE SOLD OUT COLLECTION
  </h1>
  <br>

  <h1 class="headertext">ON OPENSEA!</h1>
  <br>
  <br><br><br>


  <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">


    <div class="card card-4">

      <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%"
        fxLayoutAlign="center">

        <mat-card class="example-card1">
          <mat-card-header>


            <!--      <mat-card-subtitle class="center">why bermano</mat-card-subtitle> -->
          </mat-card-header>

          <a href="https://opensea.io/collection/the-king-of-the-jungle" title="Buy on OpenSea" target="_blank"><img
              style="width:220px; border-radius:5px; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);"
              src="https://storage.googleapis.com/opensea-static/Logomark/Badge%20-%20Available%20On%20-%20Light.png"
              alt="Available on OpenSea" /></a>




          <br>
          <br>
          <br>
          <h3 class="center">If you have purchased a piece, please fill out the form below:</h3>
          <br>
          <p class="center">
            <a href="https://forms.gle/FT6W6WAV5Th5hamp8">Google Forms: The King of the Jungle Collection</a>
          </p>

        </mat-card>

      </div>

      <br> <br>
      <br>
      <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">

        <h1>LION COLLECTION #1 - BERMANO x 0xCHAMPI </h1>
        <br> <br> <br>
        <br>
        <br>
      </div>
      <br>
      <div class="center" class="container" fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutAlign="center">
        <div fxFlex="45%">
          <img mat-card-image class="img" src="/assets/lion1.gif" style="height:250x ; width:150px">
        </div>
        <div fxFlex="35%">
          <img mat-card-image class="img" src="/assets/lion2.gif" style="height:250x ; width:150px">
        </div>
        <div fxFlex="35%">
          <img mat-card-image class="img" src="/assets/lion3.gif" style="height:250x ; width:150px">
        </div>
        <div fxFlex="20%">
          <img mat-card-image class="img" src="/assets/lion4.gif" style="height:250x ; width:150px">
        </div>

      </div>

      <br>
      <br>

      <div class="center" class="container" fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutAlign="center">
        <div fxFlex="35%">
          <img mat-card-image class="img" src="/assets/lion5.gif" style="height:250x ; width:150px">
        </div>
        <div fxFlex="35%">
          <img mat-card-image class="img" src="/assets/lion6.gif" style="height:250x ; width:150px">
        </div>
        <div fxFlex="35%">
          <img mat-card-image class="img" src="/assets/lion7.gif" style="height:250x ; width:150px">
        </div>
        <div fxFlex="20%">
          <img mat-card-image class="img" src="/assets/lion8.gif" style="height:250x ; width:150px">
        </div>


        <br>
      </div>


      <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
      </div>

      <h3 class="center">+ C O L L A B O R A T I O N + W I T H + 0 x C H A M P I - C U R A T E D + B Y + A T T N . M O N
        E Y +</h3>
      <br>

      <br><br>
      <div class="center" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
        <h1>ALL RIGHTS RESERVED - BERMANO NFT DIGITAL GALLERY & ATTN.MONEY 2021</h1>
        <br>
        <br>
      </div>



      <br>
    </div>