<div class="flex custom-page-header">
    <hr class="hr-dark">
    <center>
        <b>
            <h2 class="h1-responsive">FREQUENTLY ASKED QUESTIONS</h2>
        </b>
    </center>
    <hr class="hr-dark">
</div>
<br><br>
<div class="container">
    <center>
        <dl class="long-text">
            <dt>Who is Bermano/TheRealBermano?</dt>
            <dd>Bermano is a established and world-renowned artist born and raised during 1971 in South Africa. Bermano
                later moved to New York City, where he continues to live today. He has completed countless artistic
                projects, and sold many extravagant pieces to celebrities and global figures from the current Pope
                Francis, to Nelson Mandela, and the Royal Family of Monaco.</dd>
            <dt>What is Bermano Digital NFT Collection?</dt>
            <dd>The Bermano Digital NFT Gallery is an exclusive assemblage of globally-renowned artist Joel Berman’s
                creations, digitized and adapted for the NFT-world for all to see and collect, based on his most
                recognizable pieces.</dd>
            <dt>How many NFT collections will Bermano be doing?</dt>
            <dd>The King of The Jungle is the first collection in the Bermano Digital Gallery. This set is titled The
                King of The Jungle, featuring one of Bermano’s most recognized pieces. You can be expecting more
                collections to be released in the coming months!</dd>
            <dt>When is Bermano’s 1st NFT Collection, The King of the Jungle, releasing?</dt>
            <dd>25th of September, 8PM Eastern Standard Time (9/25, 8PM EST) on OpenSea</dd>
            <dt>How many pieces will be available in the King of the Jungle Collection?</dt>
            <dd>There are 66 total pieces.</dd>
            <dt>What is the mining fee?</dt>
            <dd>There is a 0.2 Ξ minting fee.</dd>
            <dt>Where can we mint?</dt>
            <dd>Minting is currently available on OpenSea.</dd>
            <dt>How can I get setup to purchase/mint?</dt>
            <dd>Metamask! Check out the article below to quickly and securely setup a Metamask Web3 Wallet. You’ll want
                to check it out a few hours pre-mint, so you’ve got time to get familiar and load funds!</dd>
            <a href="https://medium.com/@decryptmedia/metamask-the-beginners-guide-6111143f2581">
                <dd>Metamask: The Beginner's Guide</dd>
            </a>
            <dd>
                <br><br>

                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-16by9 hoverable">
                            <iframe class="embed-responsive-item"
                                src="https://player.vimeo.com/video/619953242?h=a45c4b83f9" style="height: 101%"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <br><br>
                
            </dd>
        </dl>
    </center>
</div>